doctype html
html
 head
  title= name
 body
   h1 Aplikacja logowania do Google
   p Aplikacja Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
   quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
   consequat.   
   br
   br
   a.button-cont(href='/auth/google') Logowanie 
