doctype html
html
    head
        title= name
    body
        h1 Aplikacja logowania do Google
        p Logowanie powiodo się. Możesz przejśc na stronę: 
        a(href= url) Google  
            
           